@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContextAccessor
@inject HttpClient Http

<div class="d-flex align-items-center gap-2">
    @if (!string.IsNullOrWhiteSpace(_email))
    {
        <img src="@Avatar" />
        <b>@_email</b>
        <a class="ml-md-auto"
           href="/Identity/Logout"
           target="_top">Logout</a>
    }

    <a class="ml-md-auto"
       href="/Identity/Login"
       target="_top">Login</a>
</div>


@code {
    private ClaimsPrincipal User;
    private string _email;
    private string Surname;
    private string Avatar;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        try
        {
            // Set the user to determine if they are logged in
            User = _httpContextAccessor.HttpContext.User;
            // Try to get the GivenName
            var email =
                _httpContextAccessor.HttpContext.User
                .FindFirst(ClaimTypes.Email);
            if (email != null)
                _email = email.Value;

            // Try to get the Surname
            var surname =
                _httpContextAccessor.HttpContext.User
                .FindFirst(ClaimTypes.Surname);
            if (surname != null)
            {
                Surname = surname.Value;
            }
            else
            {
                Surname = "";
            }
            // Try to get Avatar
            var avatar =
            _httpContextAccessor.HttpContext.User
            .FindFirst("urn:google:image");
            if (avatar != null)
            {
                Avatar = avatar.Value;
            }
            else
            {
                Avatar = "";
            }
        }
        catch { }
    }
}