@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContextAccessor
@inject HttpClient Http

<div class="d-flex align-items-center gap-2">
    @if (!string.IsNullOrWhiteSpace(_email))
    {
        <b class="text-white">@_email</b>
        <MudIconButton 
            Href="/Identity/Logout" 
            Style="color: white; fill : white;"
            Icon="@Icons.Material.Filled.Logout" />
    }
</div>

@code {
    private ClaimsPrincipal? _user;
    private string? _email;
    private string? _surname;
    private string? _avatar;

    protected override void OnInitialized()
    {
        _user = _httpContextAccessor?.HttpContext?.User;

        _email = _user?.FindFirst(ClaimTypes.Email)?.Value;
        if (string.IsNullOrWhiteSpace(_email))
        {
            NavigationManager.NavigateTo("/Identity/Login");
            return;
        }

        _surname = _user?.FindFirst(ClaimTypes.Surname)?.Value;
        _avatar = _user?.FindFirst("urn:google:image")?.Value;
    }

    [Inject] public required NavigationManager NavigationManager { get; set; }
}