@inherits LayoutComponentBase

<PageTitle>MiniECommerce</PageTitle>

<MudSnackbarProvider />

<MudDialogProvider
    FullWidth="true"
    MaxWidth="MaxWidth.ExtraSmall"
    CloseButton="true"
    DisableBackdropClick="true"
    NoHeader="true"
    Position="DialogPosition.Center"
    CloseOnEscapeKey="true"/>
<MudThemeProvider />
<div class="page h-100 w-100 d-flex">
    <main class="flex-grow-1 d-flex flex-column h-100 overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-4 py-2 shadow auth" style="background: var(--mud-palette-primary);">
            <a href="/" style="cursor: pointer;">
                <img src="logo.png" height="30"/>
            </a>

            <div class="d-flex gap-2">
                <MudIconButton 
                    Style="color: white; fill: white;"
                    Icon="@Icons.Material.Filled.Discount" 
                    Href="/" />
                <MudIconButton 
                    Style="color: white; fill: white;"
                    Icon="@Icons.Material.Filled.SelfImprovement" 
                    Href="/profile" />
                <MudIconButton 
                    Style="color: white; fill: white;"
                    Icon="@Icons.Material.Filled.ShoppingCart" 
                    Href="/basket" />
                <MudIconButton 
                    Style="color: white; fill: white;"
                    Icon="@Icons.Material.Filled.List"
                    Href="/orders" />
            </div>

            <LoginControl />
        </div>

        <article class="flex-grow-1 px-2 overflow-auto">
            @Body
        </article>

        <footer class="p-2 d-flex align-items-center gap-2" style="background: whitesmoke;">
            <label>Administration: </label>
            <a href="/product-management">Products</a>
            <a href="/order-management">Orders</a>
        </footer>
    </main>
</div>
