@page "/order-management"
@using OrderService.Library.Enumerations;
@using OrderService.Library.Models;

<MudText Typo="Typo.h5" Class="mb-2 mt-2">Order - management</MudText>

@if(_orders is null)
{
    <MudProgressCircular Color="Color.Info" Indeterminate="true" />
}
else
{
    <div class="d-flex flex-column flex-grow-1 gap-2 h-100 w-100 overflow-hidden">
        <MudPaper Elevation="25">
            <MudToolBar>
                <MudIconButton 
                    Title="Add" 
                    Icon="@Icons.Material.Outlined.Add"/>
            </MudToolBar>
        </MudPaper>

        <MudDataGrid 
            Items="_orders" 
            Filterable="true"
            Hover="true"
            Height="100%"
            Outlined="true"
            RowsPerPage="20"
            HorizontalScrollbar="true"
            Groupable="true">
            <Columns>
                <PropertyColumn 
                    Property="x => x.Number" 
                    Title="Nr" />
                <PropertyColumn 
                    Property="x => x.Status" 
                    Title="Status" />
                <PropertyColumn 
                    Property="x => x.BuyersFullName" 
                    Title="BuyersFullName" />
                <PropertyColumn 
                    Property="x => x.BuyersEmailAddress"
                    Title="BuyersEmailAddress" />
                <PropertyColumn 
                    Property="x => x.AddressLine" 
                    Title="AddressLine" />
                <PropertyColumn 
                    Property="x => x.PostalCode" 
                    Title="PostalCode" />
                <PropertyColumn 
                    Property="x => x.PostalOffice" 
                    Title="PostalOffice" />
                <PropertyColumn 
                    Property="x => x.Country"
                    Title="Country" />
                <PropertyColumn 
                    Title="Actions"
                    Property="x => x">
                    <CellTemplate>
                        <MudMenu Label="Actions">
                            <MudMenuItem OnClick="() => ShowSetAddressDialog(context.Item)">
                               Set address
                            </MudMenuItem>
                            <MudMenuItem 
                                Disabled="context.Item.Status != OrderStatus.InFill"
                                OnClick="async() => await SetToWaitingForConfirmation(context.Item)">
                                Set to waiting for confirmation
                            </MudMenuItem>
                            <MudMenuItem 
                                Disabled="context.Item.Status != OrderStatus.WaitingForConfirmation"
                                OnClick="async() => await ConfirmOrder(context.Item)">
                                Set to confirmed
                            </MudMenuItem>
                        </MudMenu>
                    </CellTemplate>
                </PropertyColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager 
                    T="OrderView" 
                    PageSizeOptions=@(new int[] {10, 25, 50, 100, 150, 200 }) />
            </PagerContent>
        </MudDataGrid>
    </div>
}

<MudDialog
    Options="new(){ CloseButton = true, NoHeader = false }"
    @bind-IsVisible="_showSetOrderAddressDialog">
    <TitleContent>
        @if (_setOrderAddressDialog is not null)
        {
            <h5 class="mb-0">Order - @_setOrderAddressDialog.Number</h5>
        }
    </TitleContent>
    <DialogContent>
        @if (_setOrderAddressCommand is not null && _setOrderAddressDialog is not null)
        {
            <MudNumericField 
                T="int" 
                Disabled="true"
                @bind-Value="_setOrderAddressDialog.Number" 
                Label="Number" />
            <MudTextField 
                T="string" 
                Disabled="true"
                @bind-Text="_setOrderAddressCommand.AddressLine"
                Label="AddressLine" />
            <MudTextField 
                T="string"
                @bind-Text="_setOrderAddressCommand.PostalCode"
                Label="PostalCode" />
            <MudTextField 
                T="string"
                @bind-Text="_setOrderAddressCommand.PostalOffice"
                Label="PostalOffice" />
            <MudTextField 
                T="string"
                @bind-Text="_setOrderAddressCommand.Country"
                Label="Country" />
        } 
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="ExecuteSetAddress">Update</MudButton>
    </DialogActions>
</MudDialog>