@page "/product-management"
@using ProductService.Library.Models;

<h1>Product Management</h1>

@if(_products == null)
{
    <MudProgressCircular Color="Color.Info" Indeterminate="true" />
}
else
{
    <div class="d-flex flex-column gap-2 h-100 w-100">
        <MudPaper Elevation="25">
            <MudToolBar>
                <MudIconButton 
                    Title="Add" 
                    Icon="@Icons.Material.Outlined.Add" 
                    OnClick="ShowAddProductDialog"/>
            </MudToolBar>
        </MudPaper>

        <MudDataGrid 
            Items="_products" 
            Filterable="true"
            FixedHeader="true"
            Hover="true"
            Outlined="true"
            RowsPerPage="20"
            HorizontalScrollbar="true"
            Groupable="true">
            <Columns>
                <PropertyColumn 
                    Property="x => x.Number" 
                    Title="Nr" />
                <PropertyColumn 
                    Property="x => x.Name" 
                    Title="Name" />
                <PropertyColumn 
                    Property="x => x.Category" 
                    Title="Category" Groupable="true"/>
                <PropertyColumn 
                    Property="x => x.PricePerQuantity" 
                    Title="PricePerQuantity" />
                <PropertyColumn 
                    Property="x => x"
                    Filterable="false" 
                    Groupable="false">
                    <CellTemplate>
                        <MudIconButton 
                            Icon="@Icons.Material.Filled.Edit" 
                            OnClick="async() => await ShowEditProductDialog(context.Item)" />
                    </CellTemplate>
                </PropertyColumn>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="ProductView" PageSizeOptions=@(new int[] {10, 25, 50, 100, 150, 200 }) />
            </PagerContent>
        </MudDataGrid>
    </div>
}


<MudDialog
    Options="new(){ CloseButton = true, NoHeader = false }"
    @bind-IsVisible="_isManagementDialogVisible">
    <TitleContent>
        <h5 class="mb-0">Product</h5>
    </TitleContent>
    <DialogContent>
        <div class="d-flex flex-column gap-2">
            @if(_managementProduct != null)
            {
                <MudNumericField 
                    T="int" 
                    @bind-Value="_managementProduct.Number" 
                    Label="Number" />
                <MudTextField 
                    T="string" 
                    @bind-Text="_managementProduct.Name" 
                    Label="Name" />
                <MudTextField 
                    T="string" 
                    @bind-Text="_managementProduct.ImageUri" 
                    Label="Image - Url" />
                <MudTextField T="string" 
                    @bind-Text="_managementProduct.Category" 
                    Label="Category" />
                <MudTextField 
                    T="string" 
                    @bind-Text="_managementProduct.Description" 
                    Label="Description" />
            } 
            else
            {
                <label>Loading..</label>
            }
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CancelManagement">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="SubmitManagement">Save</MudButton>
    </DialogActions>
</MudDialog>